:root{
  --breakpoint-sm: 480px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --primary-color:#53c28b;
  --dark-color: #111;
  --white-color: #bbb;
  --font-size-base: 16px;

  --background-color: #111;
  --text-color: #bbb;
  --link-color: #bbb;
  --link-hover-color: #53c28b;
}


.build{

}
[data-theme="light"] {
  /* Colores del tema claro */
  --background-color: white;
  --text-color: #111;
  --link-color: #333;
  --link-hover-color: #53c28b;
}



* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: var(--font-size-base);
  margin-top: 35px;

}

a{
  text-decoration: none;
  color: inherit;
}

.theme{
  transition: 1s all ease;
}

.light{
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}


.container{
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



@media (max-width: var(--breakpoint-lg)) {
  .container {
    max-width: 1024px; /* Ajusta el ancho máximo */
    padding: 0 40px; /* Reduce el padding horizontal */
  }
}

@media (max-width: var(--breakpoint-md)) {
  html{
    font-size: 14px;
  }
  .container {
    max-width: 768px; /* Cambia a un diseño más estrecho */
    padding: 0 20px; /* Menor espacio en pantallas medianas */
  }
}


@media (max-width: var(--breakpoint-sm)) {
  html{
    font-size: 12px;
  }
  .container {
    max-width: 100%;
    padding: 0 10px;
    gap: 10px; /* Espaciado interno entre elementos del container */
    flex-direction: column; /* Garantiza un flujo vertical */
    align-items: center; /* Centra los elementos, si aplica */
  }
}