.container{
    margin: 5%;
  }

.title{
  font-size: 60px;
  margin-bottom: 10%;
  text-align: center;
}
.content{
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer{
  flex: 1;
  height: 500px;
  position: relative;
}
.button{
  padding: 20px;
  cursor: pointer;
  background-color: #53c28b;
  border: none;
  border-radius: 5px;
  width: max-content;
  color: white;
}
.image{
  object-fit: contain;
  animation: move 3s infinite ease alternate;
}
.centeredButon{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading{
  margin-top: 100px;
  border: var(--primary-color) 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes move {
  from{
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.form{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input, .textArea{
  padding: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #bbb;
  border: 3px solid #bbb;
  font-size: 20px;
  font-weight: bold;
}


@media(max-width: 1070px){

  .title{
    font-size: 3rem;
  
    text-align: center;
  }
  .container{
    display: flex;
    flex-direction: column;
 


  }

  .imgContainer{
    display: none;
  }

  .form{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70vw;
  }

  .content{
 
    display: flex;
    flex-direction: column;
  
  

  }
  .centeredButon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
}